In [1]:
import pandas as pd

In [6]:
df=pd.read_csv(r"C:\Users\ramiu\Desktop\EndToEndProject\Insurence\notebooks\data\insurance.csv")
df

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [7]:
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [8]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [9]:
df.duplicated().sum()

1

In [10]:
df.drop_duplicates()

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1337 rows x 7 columns]

In [11]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [12]:
X=df.drop(labels=['expenses'] , axis=1)

In [13]:
Y=df['expenses']

In [15]:
numerical_columns = df.columns[df.dtypes != 'object']
categorical_columns = df.columns[df.dtypes == 'object']

In [16]:
categorical_columns

Index(['sex', 'smoker', 'region'], dtype='object')

In [17]:
numerical_columns=numerical_columns[:-1]

In [18]:
numerical_columns

Index(['age', 'bmi', 'children'], dtype='object')

In [19]:
sex_categories=['male' , 'female']
smoker_categories=['yes' , 'no']
region_categories=['southwest', 'southeast', 'northwest', 'northeast']

In [20]:
from sklearn.preprocessing import StandardScaler  # HAndling Feature Scaling
from sklearn.preprocessing import OneHotEncoder  # OneHot Encoding
# pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [21]:
# Numerical Pipeline
num_pipeline = Pipeline(
    steps=[
        ('scaler', StandardScaler())

    ]

)

# Categorigal Pipeline
cat_pipeline = Pipeline(
    steps=[
        ('OneHotencoder', OneHotEncoder(categories=[
         sex_categories, smoker_categories, region_categories])),
        
        
    ]

)

preprocessor = ColumnTransformer([
    ('num_pipeline', num_pipeline, numerical_columns),
    ('cat_pipeline', cat_pipeline, categorical_columns)
])

In [22]:
preprocessor

ColumnTransformer(transformers=[('num_pipeline',
                                 Pipeline(steps=[('scaler', StandardScaler())]),
                                 Index(['age', 'bmi', 'children'], dtype='object')),
                                ('cat_pipeline',
                                 Pipeline(steps=[('OneHotencoder',
                                                  OneHotEncoder(categories=[['male',
                                                                             'female'],
                                                                            ['yes',
                                                                             'no'],
                                                                            ['southwest',
                                                                             'southeast',
                                                                             'northwest',
                                                                             'northeast']]))]),
                                 Index(['sex', 'smoker', 'region'], dtype='object'))])

In [23]:
## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=42)

In [24]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [25]:
X_train.head()

,num_pipeline__age,num_pipeline__bmi,num_pipeline__children,cat_pipeline__sex_male,cat_pipeline__sex_female,cat_pipeline__smoker_yes,cat_pipeline__smoker_no,cat_pipeline__region_southwest,cat_pipeline__region_southeast,cat_pipeline__region_northwest,cat_pipeline__region_northeast
0,1.544465,0.109490,-0.915011,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.481874,-0.491191,-0.915011,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,1.048589,0.226289,1.560279,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
3,1.119429,0.026062,-0.915011,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,-1.005753,2.495529,0.735182,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [26]:
## Model Training

from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, SGDRegressor
from sklearn.tree import DecisionTreeRegressor 
from sklearn.svm import SVR
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [27]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [28]:
regression.coef_

array([  3688.37975328,   2091.4217928 ,    514.37695752,     52.49762358,
          -52.49762358,  11813.9472978 , -11813.9472978 ,   -329.52528225,
         -375.08035908,    109.06784463,    595.5377967 ])

In [29]:
regression=DecisionTreeRegressor()
regression.fit(X_train , y_train)
y_pred=regression.predict(X_test)
r2_score(y_test , y_pred)

0.7265405428111735

In [30]:
regression = SVR()
regression.fit(X_train, y_train)
y_pred = regression.predict(X_test)
r2_score(y_test, y_pred)

-0.08016069378908397

In [31]:
import numpy as np


def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [32]:
# Train multiple models

models = {
    'LinearRegression': LinearRegression(),
    'DecisionTree': DecisionTreeRegressor(),
    'AdaboostRegressor': AdaBoostRegressor(),
    'SGDRegressor': SGDRegressor(),
    'Lasso':Lasso(),
    'ElasticNet':ElasticNet(),
    'SVR':SVR(),
    'Ridge': Ridge(),
    
}
trained_model_list = []
model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # Make Predictions
    y_pred = model.predict(X_test)

    mae, rmse, r2_square = evaluate_model(y_test, y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:", rmse)
    print("MAE:", mae)
    print("R2 score", r2_square*100)

    r2_list.append(r2_square)

    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 5811.806354382955
MAE: 4144.886409993461
R2 score 76.96351080608883
===================================


DecisionTree
Model Training Performance
RMSE: 6156.216321854412
MAE: 2805.340746268657
R2 score 74.15230826509274
===================================


AdaboostRegressor
Model Training Performance
RMSE: 4971.471028629491
MAE: 3937.7503595582443
R2 score 83.14363808068424
===================================


SGDRegressor
Model Training Performance
RMSE: 5811.445067194598
MAE: 4122.807520697109
R2 score 76.96637481401083
===================================


Lasso
Model Training Performance
RMSE: 5811.875809930442
MAE: 4145.20085522969
R2 score 76.96296019533814
===================================


ElasticNet
Model Training Performance
RMSE: 8427.199571103976
MAE: 6342.126392269282
R2 score 51.56485777120411
===================================


SVR
Model Training Performance
RMSE: 12584.824803989319
MAE: 8239.509225331525
R2 score -8.016069378908398
===================================


Ridge
Model Training Performance
RMSE: 5813.173136310365
MAE: 4150.843950741683
R2 score 76.95267439568619
===================================